.hero {
    height: 20rem;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.43s;
    background-color:black;
    margin:0px;
    margin-bottom:2rem;
    position:relative;
}

.hero span {
  position:absolute;
  	top: 0;
  	bottom:0;
  	left: 0;
  	right:0;
  	width: 100%;
  	height: 100%;
  	z-index: 2;
    background: rgb(137,48,37);
    background: linear-gradient(0deg, rgba(137,48,37,1) 0%, rgba(255,255,255,0) 55%);
}

.page-symposia #content {
  transition: all 0.3s;
}

.page-symposia .hero h1 {
    color: #fff;
    position:absolute;
    line-height:100%;
    bottom: -24px;
    left: 70px;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    z-index:3;
}

.page-symposia aside {
  max-width:450px;
  background-color: #893025;
  padding: 1.75rem;
  margin:0px;
  transition: all 0.43s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom:2rem;
}


.page-symposia aside a {
  color:#fff;
}

.page-symposia aside a:hover {
    color: #DE7D2F;
}

.page-symposia aside h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 0;
    transform: all 0.43s;
}

.page-symposia aside a {
  text-decoration:none;
}

.page-symposia aside a:hover {
  color: #DE7D2F;
  transition: all 0.43s;
}


.page-symposia aside h3 {
    color: #fff;
    font-size: 1.5rem;
    //text-transform:uppercase;
    font-weight:400;
    line-height:2.1rem;
    margin-bottom:1.5rem;
}

.page-symposia aside h4 {
    color: white;
    margin-top: 0;
    font-size:1rem;
    font-weight:400;
    padding: 0.5rem 0rem 0rem 0rem;
}

.page-symposia aside h5 {
    color: white;
    font-size: 2rem;
    margin-top: 0;
    line-height: 1;
    margin: 0.5rem 0rem 1.5rem;
    transform: all 0.43s;
    font-weight: 700;
}

.sidebar-container {
  padding-right: 45px;
  position: absolute;
  top: 0px;
  padding-top:70px;
}

.affix {
  position: fixed;
  top: 20px;
  z-index: 1030;
}

.affix-bottom {
  position: absolute;
  top: auto;
  z-index: 1030;
}


#menuLinks2020 {
    height: auto;
    transition: all 0.43s;

}

#menuLinks2019 {
    display: none;
}

.page-symposia article {
    padding-left: 3rem;
    padding-right:3rem;
    display:block;
    transition: all 0.43s;
}

.page-symposia article h2 {
    letter-spacing:0.79px;
    font-size: 2rem;
    line-height:2.6rem;
    color: #893025;
    font-weight: 700;
    text-transform: uppercase;
}

.page-symposia article p {
    font-weight: 400;
    margin-bottom: 1.2rem;
    font-size:1.2rem;
    line-height:1.8rem;
}

.page-symposia article ul li {
  font-weight: 400;
  font-size:1.2rem;
  line-height:1.8rem;
}

.page-symposia article h3 {
    margin-top: 2rem;
    margin-bottom:1rem;
    color: #893025;
    font-size: 1.5rem;
    line-height:2.1rem;
    text-transform: uppercase;
    font-weight:700;
}

.page-symposia .symposium-location {
  display:table-cell;
  border:2px solid #fff;
  border-left:none;
  color:#fff;
  font-size:1rem;
  line-height:100%;
}

.page-symposia .symposium-location div {
  display:table-cell;
  border-left:2px solid #fff;
  width:50%;
  padding:20px 10px;
  text-align:center;
  vertical-align:middle;
}

.page-symposia .symposium-links {
  padding-top:2rem;
}

#bodyText2020 {

}

#bodyText2019 {
    display: none;
}

.page-symposia .nav-tabs { 
  border-bottom:1px solid transparent;
}

.page-symposia .nav-tabs .nav-link {
  border: none;
  background-color: #DE7D2F;
  color:#fff;
  border-radius:0px;
  font-size:1rem;
  padding: 1rem;
  margin-right:0.2rem;
  text-transform:uppercase;
  //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.nav-tabs .nav-link:hover {
}

.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #DE7D2F;
    border:none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link.active {
  border:none;
  background-color:#893025;
  color:#fff;
}

.nav-tabs .dropdown-menu {
  margin-top:0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius:0px;
  border:none;
}

.dropdown-menu {
  padding-top:0px;
  padding-bottom:0px;
  color: #fff;
  background-color: #DE7D2F;
  border:none;
}

a.dropdown-item {
  color:#fff;
  padding: 0.5rem 1.5rem;
}


.dropdown-item:focus, .dropdown-item:hover {
  color:#fff; background-color:transparent; opacity:0.9;
  border:none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color:#893025;
  color:#fff;
}

@media (max-width: 1060px){
  .page-symposia .hero h1{
    left: 45px;
  }
}

@media (max-width: 767px){

  .sidebar-container {
    padding-right: 0px;
    position: relative;
    top: 0px;
    padding-top:0px!important;
  }

  .affix {
    position: relative;
    top: 0px;
    z-index: 1030;
  }
  .affix-bottom {
    position: relative;
    top: 0px!important;
    z-index: 1030;
  }
  
  

}

@media (max-width: 576px){
  .page-symposia article {
    padding-right: 15px;
    padding-left: 15px;
  }
  .page-symposia aside {
  }
  .page-symposia .hero h1{
    font-size: 5rem;
    left: 30px;
    bottom:-21px;
  }
}

@media (max-width: 400px){
  .page-symposia .hero {
    margin-bottom:0px;
  }
  
  .page-symposia .hero h1{
    font-size: 3.5rem;
    left: 30px;
    bottom: -17px;
  }  
}

