/* Literary listening page and posts */

/* text styling */
.listening_bg {
	color: #303030;
}

.listening_bg p,
.listening_bg ul li,
.listening_bg ol li {
  font-size: 16px;
  font-weight: 500;
  line-height; 21px;
}

.listening_bg a {
}

.listening_bg .episodes-container h1 {
	font-size: 3rem;
	line-height: 3rem;
	font-weight: 500;
	color: #303030;
	margin: 0px;
	display: block;
	padding: 0px 10px;
	font-family: 'futura-medium';
	letter-spacing: 0px;
	font-style: italic;
	text-align: center;
}

.listening_bg .episodes-container .accent h1 {
	padding: 5px 10px;
	color: #E07D21;
	font-weight: 200;
	text-transform: uppercase;
	font-style: normal;
	font-size: 1.65rem;
	letter-spacing: 6px;
}

.listening_bg h3,
.episode h2 {
	font-size: 20px;
	line-height: 25px;
}

.listening_bg h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	margin: 30px 0px 20px 0px;
}

.episodes h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'futura-pt-bold';
	font-size: 19px;
	line-height: 25px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.episodes h4 a {
	text-decoration: none;
	color: #303030;
}

.episodes h5 {
	font-size: 13px;
	font-weight: bold;
	color: #EC8E43;
	font-family: 'futura-pt-bold';
	text-transform: none;
	margin-top: 15px;
	line-height: 17px;
}

.episodes p {
	margin-bottom: 60px;
	font-size: 16px;
	line-height: 20px;
}

p.return-link {
  font-size: 13px;
  line-height: 25px;
	text-decoration: none;
}

p.return-link a:hover {
	text-decoration: none;
}

p.return-link .return-arrow {
	font-size: 30px;
	position: relative;
	top: 2px;
	margin-right: 10px;
	font-weight: 100;
}

@media screen and (min-width: 575px) {
	.listening_bg h1 {
		font-size: 3rem;
		line-height: 3rem;
	}

	.episodes p {
		font-size: 13px;
		line-height: 16px;
	}

	p.return-link {
		font-size: 14px;
		line-height: 41px;
	}
}

.listening_bg button.btn-sw {
	background: #202727;
	color: #fff;
	border-color: #202727;
	transition: all 0.23s;
}

.listening_bg button.btn-sw {
	background: #202727;
	color: #fff;
	border-color: #202727;
	transition: all 0.23s;
}

.listening_bg button.btn-sw:hover {
	background: #fff;
	color: #202727;
	border-color: #fff;
}

/*
 * Page - Layout
 */

.listening_bg section.container {
	padding-bottom: 40px;
}

.container.episodes {
	padding-top: 30px;
}

@media screen and (min-width: 575px) {
}

/* 
 * Page - Content header
 */

/* subscribe button */
.listening_bg .episodes-container .subscribe-link-container {
	position: absolute;
	top: -30px;
	right: 30px;
	left: auto;
}


.listening_bg .episodes-container .subscribe-link-container {
	position: absolute;
	right: 30px;
	top: -45px;
}

.listening_bg a {
	color: #E07D21;
}

.listening_bg a#subscribe-link button.btn-sw {
	background: #E07D21;
	color: #202727;
	border-color: #202727;
	padding: 5px 25px;
	font-weight: 500;
	transition: all 0.23s;
}

.listening_bg a#subscribe-link:hover button.btn-sw {
	background: #303030;
	border-color: #E07D21;
	color: #E07D21;
}

@media screen and (min-width: 575px) {
	.listening_bg .episodes-container .subscribe-link-container {
		top: -30px;
	}

  .listening_bg a#subscribe-link button.btn-sw {
    font-size: 20px;
  }

}

/*
 * Page - Post loop
 */
.episodes .event-img.filter {
	filter: sepia(100%) contrast(100%) brightness(50%);
	transition: filter 1s;
	background-blend-mode: darken;
	height: auto;
}

a span.listen-now {
	color: #fff;
}

.episodes span.listen-now {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-bottom: 0px;
	background: rgba(43,52,52,0.2);
	text-transform: uppercase;
	width: 100%;
	padding: 10px;
	font-size: 13px;
	font-weight: normal;
}

.episodes span.listen-now .oi-media-play {
	padding: 7px 4px 5px 8px;
	height: 24px;
	width: 24px;
	border-radius: 24px;
	border: 1px solid #fff;
	margin-right: 7px;
	font-size: 10px;
	transition: all 0.23s;
}

/*
 * Page - Bottom section
 */
.shortcuts_bg .header-container {
	margin-top: 25px;
}

@media screen and (min-width: 575px) {
	.shortcuts_bg .header-container {
		margin-top: 46px;
	}
}


